body  table {
    border-collapse: collapse;
    width: 30%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #10aff9;
}
tr:hover{
	background-color: #008B8B;
color: white;}